*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

header{
    width:100%;
    height:90px;
    background-color:black;
    color:white;
    font-family: "PT Sans", sans-serif;
    position: fixed;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:20px;
}
.nav-menu{
    display: flex;
   
}
.nav-item{
    list-style: none;
    padding: 0.9rem;
}

.nav-link{
    text-decoration:none;
    color:white;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 19px;
}
.nav-link:hover{
    padding-bottom: 25px;
    border-bottom: 4px solid #fff;
}
.nav-icon{
    display: none;
}

.logo h1{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.btn{
    border: 1px solid white;
    padding: 12px;
}

.btn:hover{
    background-color: #fff;
    padding: 12px;

    color: black;
}

@media screen and (max-width:865px){
    header{
        height: 80px;
    }

    .nav-i{
        display: none;
    }

    .nav-item{
        display: none;
    }

    .nav-icon{
        display: flex;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        right: -100%;
        background-color: #113448;
        height: 88%;
    }
    
    .nav-menu.active {
        left:0;
        transition: all 0.2s ease-in;
        background-color: #242222;
    }
    .nav-link {
        position: relative;
        top: 220px;
         color: white;
    }

    .nav-link:hover{
        background-color: white;
        color: black;
     padding: 8px 30px;
       
    }
    .nav-item {
        display: flex;
        justify-content: center;
     }
 
      .btn{
        text-align: center;
      }
  
     .nav-icon {
         display: block;
         cursor: pointer;
         font-size: 1.9em;
         top: 26px;
         margin-right: 12px;
         right: 0;
         position: absolute;
 
     }

  

}

@media screen and (max-width:557px){
 
  
}